
*.bak

PruebasLocales/

src/util/compiled/drracket/errortrace/

app/compiled/drracket/errortrace/

src/pathfind/compiled/drracket/errortrace/

test/interface/compiled/drracket/errortrace/

test/pathfind/compiled/drracket/errortrace/

app/util/compiled/drracket/errortrace/
